/*paramethers defoult*/
* {
  padding: 0%;
  margin: 0%;
}
/*inheretance*/
body {
  position: relative;

  font-family: "Quicksand", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(93, 79, 117, 1) 22%,
    rgba(116, 169, 191, 1) 51%,
    rgba(0, 212, 255, 1) 100%
  );
  cursor: grab;
}
.container {
  width: 70%;
  margin: 30px auto;
}

/*header*/
.main-header {
  display: flex;
  background-color: #05030376;
  border-radius: 10px;
  gap: 40px;
}

.download {
  position: absolute;
  border: none;
  padding: 20px;
  cursor: pointer;
  top: -25px;
  right: 10px;
  border-radius: 10px;
  background-color: orange;
}
.download:hover {
  color: white;
  background-color: rgba(8, 4, 4, 0.811);
}

.download:active {
  color: #050303;
}

/*aside*/

.rennyphoto {
  align-self: center;
  width: 100px;
  height: 110px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(203, 203, 203, 0.434);
  transform: scale(1.2);
}
.title {
  background-color: black;
  color: aliceblue;
  padding: 30px 30px;
  border-radius: 5px;
  text-align: justify;
}

h2 {
  color: rgb(7, 34, 57);
  text-align: start;
  margin-bottom: 15px;
}

.title h2 {
  padding: 0 5px;
  color: rgb(255, 255, 255);
}
.title p {
  color: rgb(191, 191, 191);
}
.links-header {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ICONS PROYECTS AND CERTS */
button {
  box-shadow: 0px 0px 10px #0000004d;
  width: 60px;
  height: 60px;
}
.meus_links {
  padding: 4px 4px;
}
.img_contacts {
  width: 60px;
  height: 60px;
}

/*article*/
article,
.meus_links {
  border-right: 3px solid rgba(0, 0, 0, 0.352);
  background-color: #ffffff87;
  padding: 40px 50px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: justify;
}
p {
  margin-left: 10px;
  line-height: 2;
  font-weight: 550;
  font-size: 20px;
  color: #1d1c1c;
}

strong {
  color: rgb(0, 0, 0);
}

.return {
  text-decoration: none;
  color: rgba(22, 37, 171, 0.653);
}

#return:hover {
  color: rgb(53, 91, 122);
}

.copyright {
  border-right: 3px solid rgba(0, 0, 0, 0.352);
  border-bottom: 3px solid rgba(0, 0, 0, 0.442);
  background-color: #d4d4d470;
  margin-top: 20px;

  border-radius: 5px;
}
.copyright p {
  font-size: 15px;
}
